*,
*::after,
*::before {
	box-sizing: border-box;
}

input, select, textarea, button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

img {
	&.round {
		border-radius: 50%;
	}
}
