input {
	--input-border-color: #505050;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=search] {
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
	padding: 0 .4em;
	//padding: .2em .4em;
	border: 2px solid var(--input-border-color);
	border-radius: var(--border-radius-sm);
	background-color: var(--color-canvas-inset);


	&::placeholder {
		user-select: none;
	}

	&:focus {
		outline: 2px solid var(--color-fucus);
		outline-offset: -1px;
		background-color: var(--color-canvas-default);
	}

	&:-webkit-autofill {
		outline: 2px solid var(--color-autofill);
		box-shadow: inset 0 0 0 32px var(--color-canvas-default);
		-webkit-text-fill-color: var(--color-text);
	}

	&.sm {
		//padding: .0em .4em;
		line-height: 1.25;
	}

	&.md {
		line-height: 1.6;
		//padding: .4em .4em;
	}

	&.lg {
		line-height: 2;
		padding: .6em .6em;
	}
}
