@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  display: grid;
  height: inherit;
  grid-template-rows: min-content 1fr;
}

body {
  @media (prefers-color-scheme: dark) {
    //background-color: #14161c;
  }
}
