name: Deploy GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - uses: actions/cache@v4
      #   with:
      #     path: |
      #       ~/.deno
      #       ~/.cache/deno
      #     key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Install deps
        run: deno install

      - name: Build
        run: deno task build

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist # Path of the directory containing the static assets.

  deploy:
    name: Deploy
    needs: [build]
    runs-on: ubuntu-latest

    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to Github Pages
        uses: actions/deploy-pages@v4
        id: deployment
